Following some new Google search trends and survey data from the travel industry,
TourData has identified an opportunity to build out a new Outbound Sales team as a
branch of the global Support Team, in the hope of converting more high basket-size
adventures.
The definition of outbound sales refers to the process through which sales reps make
outbound sales calls or utilize other sales channels to reach prospects. Outbound sales
are where a seller, which is typically a sales rep, initiates engagement with a potential
buyer.
We have provided you with a dataset [sales_summary] which includes 3 full months of
historical data on all of the enquiries received for tours offered on TourData.
The dataset includes 28,491 individual enquiries with the following fields:

enquiry_id ID that identifies a single enquiry.
number_of_passengers The number of travelers on the enquiry.
traveller_source_market The source market of the traveler.
booking_status If the enquiry resulted in a booking, the status is BOOKED, otherwise,
it shows as NOT BOOKED.
gross_revenue_lcy Booking price associated with an enquiry (local currency).
currency Currency of the enquiry.
destination_continent The continent that the tour would be visiting.
destination_main_country The main country that the tour would be visiting.
lead_booking_travel_days The time (in days) between an enquiry creation and the travel date.
operator_name The name of the tour operator operating the tour.
tour_type The primary tour category.
tour_length_in_days The length of the tour (in days).
traveller_age The age of the lead traveler (if provided).


Using the historical data provided, (1) create a report outlining recommendations for
how many agents should be part of this Outbound Sales team and the Traveller
Source Markets they should focus on. (2) In addition, create a profile for the team’s
target traveler and the most common destinations we would expect to see booked.
To help you solve this challenge, please consider these assumptions:
● The Outbound Sales team should be targeting enquiries greater than or equal to 10k in value (LCY)
● TourData expects to double the number of bookings above 10k with this dedicated team.
● Each agent can handle 200 enquiries per month, on average.

In [95]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings("ignore")
warnings.warn("this will not show")

plt.rcParams["figure.figsize"] = (10,6)

sns.set_style("whitegrid")
pd.set_option('display.float_format', lambda x: '%.3f' % x)

pd.set_option('display.max_columns', None)

In [96]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [132]:
df = pd.read_csv("/content/drive/MyDrive/python/sales_summary.tsv", sep='\t')

In [98]:
df

,enquiry_id,number_of_passengers,traveller_source_market,booking_status,gross_revenue_lcy,currency,destination_continent,destination_main_country,lead_booking_travel_days,operator_name,tour_type,tour_length_in_days,traveller_age
0,1234567,5,RoW,NOT BOOKED,"715,289",USD,Asia,United Arab Emirates,61,operator_1,In-depth Cultural,7.000,NaN
1,1234568,20,Canada,NOT BOOKED,"608,074",USD,Europe,Iceland,150,operator_2,Adventure,10.000,NaN
2,1234569,18,Canada,NOT BOOKED,"260,695",CAD,Europe,France,305,operator_3,Bicycle,8.000,NaN
3,1234570,40,US,NOT BOOKED,"248,285",USD,North America,USA,143,operator_4,Explorer,9.000,NaN
4,1234571,16,,NOT BOOKED,"231,559",USD,Europe,Germany,296,operator_5,Festival & Events,8.000,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
28486,1263053,1,Europe,BOOKED,"1,154",EUR,Asia,India,23,operator_903,In-depth Cultural,5.000,32
28487,1263054,1,Europe,NOT BOOKED,"1,153",EUR,Europe,Italy,30,operator_7,In-depth Cultural,6.000,NaN
28488,1263055,1,UK,BOOKED,"1,152",GBP,Africa,Egypt,88,operator_396,In-depth Cultural,7.000,28
28489,1263056,1,US,BOOKED,"1,152",USD,Latin America,Mexico,90,operator_411,In-depth Cultural,4.000,53
28490,1263057,1,Australia,BOOKED,"1,151",AUD,Africa,Kenya,45,operator_351,Safari,3.000,63

In [99]:
df.shape

(28491, 13)

In [100]:
df.enquiry_id.value_counts().sum() # each enquiry is unique, so we don't need this column.

28491

In [101]:
df.info() # gross revenue columns must be float

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28491 entries, 0 to 28490
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   enquiry_id                28491 non-null  int64
 1   number_of_passengers      28491 non-null  int64
 2   traveller_source_market   28491 non-null  object
 3   booking_status            28491 non-null  object
 4   gross_revenue_lcy         28491 non-null  object
 5   currency                  28491 non-null  object
 6   destination_continent     28491 non-null  object
 7   destination_main_country  28491 non-null  object
 8   lead_booking_travel_days  28491 non-null  int64
 9   operator_name             28491 non-null  object
 10  tour_type                 28491 non-null  object
 11  tour_length_in_days       28491 non-null  float64
 12  traveller_age             11467 non-null  object
dtypes: float64(1), int64(3), object(9)
memory usage: 2.8+ MB

In [102]:
df.isnull().sum().any() # we dont have any null in this dataset

True

In [103]:
df["operator_name"].value_counts().nunique() # we have 135 operator

135

In [104]:
for col in df:
    print(f"{col:<30}:", df[col].nunique())

enquiry_id                    : 28491
number_of_passengers          : 34
traveller_source_market       : 8
booking_status                : 2
gross_revenue_lcy             : 12335
currency                      : 6
destination_continent         : 6
destination_main_country      : 135
lead_booking_travel_days      : 618
operator_name                 : 903
tour_type                     : 35
tour_length_in_days           : 65
traveller_age                 : 76

In [20]:
df.traveller_source_market.value_counts()

US             10850
Australia       4792
Europe          4137
Canada          2996
RoW             2701
UK              2656
New Zealand      358
                   1
Name: traveller_source_market, dtype: int64

In [133]:
for i in range(df.shape[0]):
  df['gross_revenue_lcy'][i]=df['gross_revenue_lcy'][i].replace(',','')

In [134]:
df['gross_revenue_lcy'] = df['gross_revenue_lcy'].astype(float)

In [136]:
(df['gross_revenue_lcy']>=10000) # we will drop columns which revenue less than 10000

0         True
1         True
2         True
3         True
4         True
         ...
28486    False
28487    False
28488    False
28489    False
28490    False
Name: gross_revenue_lcy, Length: 28491, dtype: bool

In [154]:
df2=df[df['gross_revenue_lcy']>10000]

In [138]:
df2.shape

(7657, 13)

In [139]:
df2.describe().T

,count,mean,std,min,25%,50%,75%,max
enquiry_id,7657.000,1238395.000,2210.530,1234567.000,1236481.000,1238395.000,1240309.000,1242223.000
number_of_passengers,7657.000,3.366,3.325,1.000,2.000,2.000,4.000,75.000
gross_revenue_lcy,7657.000,21314.115,20973.763,10003.000,12093.000,15456.000,22402.000,715289.000
lead_booking_travel_days,7657.000,163.006,109.540,1.000,65.000,151.000,228.000,879.000
tour_length_in_days,7657.000,12.016,7.855,1.000,8.000,10.000,14.000,164.000

In [140]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7657 entries, 0 to 7656
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   enquiry_id                7657 non-null   int64
 1   number_of_passengers      7657 non-null   int64
 2   traveller_source_market   7657 non-null   object
 3   booking_status            7657 non-null   object
 4   gross_revenue_lcy         7657 non-null   float64
 5   currency                  7657 non-null   object
 6   destination_continent     7657 non-null   object
 7   destination_main_country  7657 non-null   object
 8   lead_booking_travel_days  7657 non-null   int64
 9   operator_name             7657 non-null   object
 10  tour_type                 7657 non-null   object
 11  tour_length_in_days       7657 non-null   float64
 12  traveller_age             2687 non-null   object
dtypes: float64(2), int64(3), object(8)
memory usage: 837.5+ KB

In [141]:
df2.groupby(['traveller_source_market','currency']).sum()["gross_revenue_lcy"] # we must take care of currency!
                                                                              # we could see the potantial of the source market

traveller_source_market  currency
                         USD          231559.000
Australia                AUD        34141207.000
                         CAD          207022.000
                         EUR           71508.000
                         GBP           24144.000
                         NZD          118707.000
                         USD         1800235.000
Canada                   AUD           98386.000
                         CAD        18915390.000
                         EUR          167377.000
                         GBP          185186.000
                         NZD           61794.000
                         USD         6229015.000
Europe                   AUD          639953.000
                         CAD          146884.000
                         EUR        10619177.000
                         GBP          213840.000
                         NZD           56664.000
                         USD         1863488.000
New Zealand              AUD           52872.000
                         CAD           18423.000
                         NZD         2459388.000
                         USD           33172.000
RoW                      CAD          245941.000
                         EUR           70771.000
                         GBP           22331.000
                         USD        15286472.000
UK                       AUD           15036.000
                         EUR           83959.000
                         GBP         4098903.000
US                       CAD           48005.000
                         EUR           51227.000
                         GBP           23236.000
                         USD        64900905.000
Name: gross_revenue_lcy, dtype: float64

In [142]:
df2.head()

,enquiry_id,number_of_passengers,traveller_source_market,booking_status,gross_revenue_lcy,currency,destination_continent,destination_main_country,lead_booking_travel_days,operator_name,tour_type,tour_length_in_days,traveller_age
0,1234567,5,RoW,NOT BOOKED,715289.000,USD,Asia,United Arab Emirates,61,operator_1,In-depth Cultural,7.000,NaN
1,1234568,20,Canada,NOT BOOKED,608074.000,USD,Europe,Iceland,150,operator_2,Adventure,10.000,NaN
2,1234569,18,Canada,NOT BOOKED,260695.000,CAD,Europe,France,305,operator_3,Bicycle,8.000,NaN
3,1234570,40,US,NOT BOOKED,248285.000,USD,North America,USA,143,operator_4,Explorer,9.000,NaN
4,1234571,16,,NOT BOOKED,231559.000,USD,Europe,Germany,296,operator_5,Festival & Events,8.000,NaN

In [169]:
dfbooked= df2[df2["booking_status"]=="BOOKED"]

In [170]:
dfnotbooked=df2[df2["booking_status"]=="NOT BOOKED"]

In [216]:
total_staff=0
for model in df2.traveller_source_market.unique():
    
    BOOKED = dfbooked[dfbooked["traveller_source_market"]== model]["traveller_source_market"].value_counts().sum()
    NOT_BOOKED = dfnotbooked[dfnotbooked["traveller_source_market"]== model]["traveller_source_market"].value_counts().sum()

    percentage_of_booked = (BOOKED /(BOOKED+ NOT_BOOKED)) *100
    staff= NOT_BOOKED / 200
    total_staff=int(total_staff) + int(staff)

    print(f" the booked percentage for {model} : {percentage_of_booked}, \
          The Staff require for this source_market = {int(staff)} ")
print(f"required total staff = {total_staff}")

 the booked percentage for RoW : 13.344887348353554,           The Staff require for this source_market = 2
 the booked percentage for Canada : 27.055449330783937,           The Staff require for this source_market = 3
 the booked percentage for US : 31.816755569501098,           The Staff require for this source_market = 10
 the booked percentage for   : 0.0,           The Staff require for this source_market = 0
 the booked percentage for Australia : 37.564618035611716,           The Staff require for this source_market = 5
 the booked percentage for Europe : 21.388101983002834,           The Staff require for this source_market = 2
 the booked percentage for UK : 24.521072796934863,           The Staff require for this source_market = 0
 the booked percentage for New Zealand : 42.028985507246375,           The Staff require for this source_market = 0
required total staff = 22

In [ ]:
#it seems that we need 22 staff, but we should divide this quantity to 3, because this dataset belong to 90 days(3 months)
#required total staff = 22/3=8

In [131]:
df2.groupby(['traveller_source_market','booking_status']).count()["enquiry_id"]

traveller_source_market  booking_status
                         NOT BOOKED           1
Australia                BOOKED             654
                         NOT BOOKED        1087
Canada                   BOOKED             283
                         NOT BOOKED         763
Europe                   BOOKED             151
                         NOT BOOKED         555
New Zealand              BOOKED              58
                         NOT BOOKED          80
RoW                      BOOKED              77
                         NOT BOOKED         500
UK                       BOOKED              64
                         NOT BOOKED         197
US                       BOOKED            1014
                         NOT BOOKED        2173
Name: enquiry_id, dtype: int64

In [206]:
df2.columns

Index(['enquiry_id', 'number_of_passengers', 'traveller_source_market',
       'booking_status', 'gross_revenue_lcy', 'currency',
       'destination_continent', 'destination_main_country',
       'lead_booking_travel_days', 'operator_name', 'tour_type',
       'tour_length_in_days', 'traveller_age', 'staff_required'],
      dtype='object')

In [210]:
df2.groupby(['destination_main_country','tour_type']).count()["enquiry_id"]

destination_main_country  tour_type
Afghanistan               Explorer              1
Albania                   Explorer              2
                          Hiking & Trekking     2
                          In-depth Cultural    11
Angola                    Explorer              1
                                               ..
Vietnam                   Sailing               1
Wales                     In-depth Cultural     4
Zambia                    Adventure             1
                          Safari                2
Zimbabwe                  Adventure             1
Name: enquiry_id, Length: 423, dtype: int64

In [211]:
df2.groupby(['tour_type']).count()["enquiry_id"]

tour_type
Adventure                  536
Arctic                       4
Beach                        1
Bicycle                    115
Coach / Bus                  7
Custom                       3
Explorer                  1879
Festival & Events           23
Food & Culinary             48
Gorilla Trekking             4
Health, Spa & Wellness       8
Hiking & Trekking          195
Historical                  13
In-depth Cultural         3950
Island Hopping              89
Jeep & 4WD                   8
Ocean Cruise                50
Overland Truck              78
Polar                       56
River Cruise               234
Safari                     214
Sailing                     59
Self Drive                   1
Sightseeing                  6
Wildlife                    76
Name: enquiry_id, dtype: int64